bertha-dashboard .important {
  font-size: 200%;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

bertha-dashboard {
  font-size: 30px;
  font-weight: 500;
  font-family: "Helvetica Neue" "Roboto" Arial
}

bertha-dashboard.dark-theme {
  background-color: #000;
  color: #fff;
}

bertha-dashboard {
  text-align: center;
}

bertha-dashboard > p {
  margin: 50px;
}

bertha-dashboard > p span {
  vertical-align: middle;
  text-transform: uppercase;
}
