.share-button {
	text-align: left !important;
}

.share-icon-padding {
	padding: 8px;
}

.centered-text {
  text-align: center;
}

.login-div-width {
  min-width: 250px;
}

.bartabello-icon {
  margin: 0px 16px 0px 0px;
}
