.share-button {
	text-align: left !important;
}

.share-icon {
	padding: 8px;
}

.centered-text {
  text-align: center;
}

.login-div {
  min-width: 250px;
}

.bartabello-icon {
  margin: 0px 16px 0px 0px;
}

md-dialog-content {
	padding: 16px;
}

.divider-text {
	margin: 4px;
}
