<md-card md-ink-ripple ng-click="clickExpand()" ng-mouseenter="mouseEnter()" ng-mouseleave="mouseLeave()">
  <md-card-content>
    <form name="notificationForm">
      <md-input-container class="md-block">
        <label>Beschrijving</label>
        <textarea ng-model="notification().description" ng-readonly="!expanded" columns="1" md-maxlength="140" rows="2"></textarea>
      </md-input-container>

      <div layout="row">
        <md-datepicker ng-model="date" md-placeholder="Kies datum"></md-datepicker>
        <md-input-container class="md-block md-icon-float time-picker">
           <label></label>
           <md-icon md-font-icon="fa-clock-o" class="fa" ></md-icon>
           <input name="time" ng-model="time" placeholder="16:15"
                  required ng-pattern="/^[0-9]{2}:[0-9]{2}$/">
           <div ng-messages="notificationForm.time.$error" role="alert" multiple>
             <div ng-message="pattern" class="my-message">Dit is geen valide tijd</div>
           </div>
        </md-input-container>
      </div>
      <div ng-show="expanded">
        <md-input-container class="md-block">
          <label>Herhalen</label>
          <md-select ng-model="notification().repeatMode">
            <md-option value="never">Eenmalig</md-option>
            <md-option value="daily">Dagelijks</md-option>
            <md-option value="weekly">Wekelijks</md-option>
            <md-option value="monthly">Maandelijks</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Toon op dashboard</label>
          <md-select ng-model="notification().timeInAdvance">
            <md-option value="30m">30 min van tevoren</md-option>
            <md-option value="1h">1 uur van tevoren</md-option>
            <md-option value="2h">2 uur van tevoren</md-option>
            <md-option value="4h">4 uur van tevoren</md-option>
            <md-option value="8h">8 uur van tevoren</md-option>
          </md-select>
        </md-input-container>
      </div>

    </form>
  </md-card-content>
  <md-card-actions ng-if="expanded" layout="row" layout-align="end center">
    <md-button ng-if="removable()" ng-click="onRemove()">Verwijderen</md-button>
    <md-button ng-if="showAddBtn()" ng-click="onAdd()">Toevoegen</md-button>
    <md-button ng-if="clickExpanded" ng-click="done();$event.stopPropagation()">Klaar</md-button>
  </md-card-actions>
</md-card>
