<div class="splash" layout="row" ng-if="loaded">
  <bertha-dashboard class="dark-theme" hide show-gt-sm flex="66" date="now" dashboard="dashboard" options="{}">
  </bertha-dashboard>

  <md-content class="admin-sidebar" flex>

        <md-subheader class="md-primary">Dashboard link</md-subheader>
        <pre>{{dashboardUrl}}</pre>

        <md-subheader class="md-primary">Actieve afspraken</md-subheader>

        <div ng-repeat="notification in dashboard.notifications | scheduledNotifications | orderBy:'timestamp'">
          <bertha-notification
            notification="notification"
            removable="true"
            on-remove="removeNotification(notification)">
          </bertha-notification>
        </div>
        <md-subheader class="md-primary">Nieuwe afspraak</md-subheader>
        <bertha-notification
          notification="draftNotification"
          force-expand="true"
          show-add-btn="true"
          on-add="pushDraftNotification()">
        </bertha-notification>

        <md-subheader class="md-primary">Instellingen</md-subheader>
        <md-content layout-padding>
         <md-checkbox ng-model="dashboard.settings.textToSpeech.enabled" class="checkbox">Praatfunctie</md-checkbox>
         <div ng-if="dashboard.settings.textToSpeech.enabled">
          <md-input-container>
           <label>Herhalen</label>
           <md-select ng-model="dashboard.settings.textToSpeech.repeatMode">
            <md-option value="1h">Ieder uur</md-option>
            <md-option value="30m">Ieder half uur</md-option>
            <md-option value="15m">Ieder kwartier</md-option>
            <md-option value="5m">Iedere 5 minuten</md-option>
           </md-select>
          </md-input-container>
         </div>
        </md-content>

  </md-content>
</div>
<div class="splash" layout layout-align="center center" ng-if="!loaded">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
