<md-toolbar>
  <div class="md-toolbar-tools">
    <md-icon md-svg-src="../icons/bartabello.svg" class="bartabello-icon"></md-icon>
    <span>bartabello</span>
  </div>
</md-toolbar>

<div layout="row" layout-align="center center">
  <div  class="login-div" layout="column" layout-align="center">
    <h1 class="centered-text">Welkom</h1>
    <md-button class="md-primary md-raised share-button facebook-button" ng-click="authFacebookUser()">
      <i class="fa fa-facebook share-icon"></i>
      Login met Facebook
    </md-button>
    <div layout="row">
     <div flex layout="column" layout-align="center">
       <md-divider></md-divider>
     </div>
     <span class="divider-text">of</span>
     <div flex layout="column" layout-align="center">
       <md-divider></md-divider>
     </div>
    </div>
    <form ng-submit="authEmailUser(email, password)" layout="column">
      <md-input-container>
        <label>Email</label>
        <input ng-model="email"></input>
      </md-input-container>
      <md-input-container>
        <label>Wachtwoord</label>
        <input type="password" ng-model="password"></input>
      </md-input-container>
      <div layout="row">
        <md-button class="md-primary md-raised" type="submit">Log in</md-button>
        <md-button class="md-primary" type="button" ng-click="showSignUpDialog()">Registreer</md-button>
      </div>
    </form>
  </div>
</div>
