<md-toolbar>
  <div class="md-toolbar-tools">
    <md-icon md-svg-src="../icons/bartabello.svg" class="bartabello-icon"></md-icon>
    <span>bartabello</span>
  </div>
</md-toolbar>

<div layout="row" layout-align="center center">
  <div  class="login-div-width" layout="column" layout-align="center">
    <h1 class="centered-text">Welkom</h1>
    <md-button class="md-primary md-raised share-button facebook-button" ng-click="authFacebookUser()">
      <i class="fa fa-facebook share-icon-padding"></i>
      Facebook
    </md-button>
    <form ng-sumbit="authEmailUser(email, password)" layout="column">
      <md-input-container>
        <label>Email</label>
        <input ng-model="email"></input>
      </md-input-container>
      <md-input-container>
        <label>Wachtwoord</label>
        <input type="password" ng-model="password"></input>
      </md-input-container>
      <div layout="row">
        <md-button class="md-primary md-raised" ng-click="authEmailUser(email, password)" flex>Log in</md-button>
        <md-button class="md-primary" type="button" flex>Meld aan</md-button>
      </div>
    </form>
  </div>
</div>
